@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header {
    margin-top: 47px;
    margin-left: 72px;
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.88px;
    margin-right: 32px;
    text-align: Center;
    cursor: pointer;
    color: #17233D;
}

.Botao-Sign-up {
    background:#6FBF44;
    border: 1px solid #4cb538;
    border-radius: 6px;
    font-Weight: 500;
    font-Size: 16px;
    line-height: 24px;
    Width: 124px;
    Height: 51px;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}



.img-logo {
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
}
div{
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    margin-top: 700;
   
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p{
    
   margin-top: 47px;
   margin-bottom: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
}

.link-Learn-more {
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
}
.link-Learn-more:active{
opacity: 0.4;
}
header:active{
    opacity: 0.4;
    }